name: Job Scraper Automation

on:
  schedule:
    - cron: '0 5 * * *'   # 12 AM EST
    - cron: '0 10 * * *'  # 5 AM EST
    - cron: '0 15 * * *'  # 10 AM EST
    - cron: '0 20 * * *'  # 3 PM EST
    - cron: '0 1 * * *'   # 8 PM EST
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -euo pipefail

            cd /var/www/libra/
            source libra/bin/activate
            git pull origin main
            pip install -r requirements.txt --upgrade-strategy only-if-needed
            python3 -m services.azalea > azalea.log 2>&1

      - name: Notify Discord on failure
        if: failure()
        run: |
          curl -H "Content-Type: application/json" \
          -d "{\"content\": \":x: <@755872891601551511>\nLibra job scrape failed for **${{ github.repository }}** @ **${{ github.ref_name }}**\"}" \
          ${{ secrets.DISCORD_WEBHOOK }}
